@import 'variables';

.cm-container-global {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.cm-content {
  display: flex;
  justify-content: center;
}

.cm-container-info {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 30%;
  height: auto;
  gap: 25px;
}

.cm-container-images {
  display: flex;
}
