@import 'variables';

.hm-global-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-top: 50px;
}

.hm-container-info {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 30%;
  height: auto;
  gap: 26px;
}

.hm-content {
  display: flex;
  justify-content: center;
}

.hm-container-image {
  display: flex;
  padding: 50px;
}

.hm-name {
  color: var(--white, #fff);
  font-family: Raleway;
  font-size: 54.688px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.hm-text {
  color: var(--gray-400, #6f6f6f);

  font-family: Raleway;
  font-size: 17.5px;
  font-style: normal;
  font-weight: 300;
  line-height: 35px; /* 200% */
}

.hm-button {
  font-family: Raleway;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  display: flex;
  padding: 12px 20px;
  width: fit-content;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 10px;
  border-radius: 100px;
  background: var(--white, #fff);
}
