@import '../components/Header/header.css';
@import '../components/Footer/footer.css';
@import '../components/Carousel/carrousel.css';

@import '../pages/Home/home.css';
@import '../pages/Competences/competences.css';
@import '../pages/Travaux/travaux.css';
@import '../pages/Contact/contact.css';

body {
  background: var(--gray-900, #0c0c0d);
  max-width: 1400px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
