@mixin text-styles {
  font-family: $font-global-family;
  font-style: normal;
}

@mixin title-styles {
  @include text-styles;
  font-weight: 500;
  line-height: normal;
}

.gl-title {
  @include title-styles;
  color: $title-font-color;
  font-size: $title-font-size;
}

.gl-text {
  @include text-styles;
  color: var(--gray-400, #6f6f6f);
  font-size: 24px;
  font-weight: 300;
  line-height: 33px;
}
